@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-drag: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
  padding-bottom: 10%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.heroContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.heroTitle {
  max-width: 812px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
}

.heroDescription {
  max-width: 800px;
  font-size: 1.4em;
  font-weight: 200;
  color: #ffffffbe;
}

.heroActions {
  display: flex;
  gap: 12px;
}

.navbar {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(16px);
  background: #00000080;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16vw;
  justify-content: space-between;
  border-bottom: #222222 1px solid;
  user-select: none;
}

.navbarLogo {
  width: 64px;
  height: 64px;
}

.navbarSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbarLink {
  cursor: pointer;
  color: #ffffffbe;
}

.activeLink {
  color: #ffffff;
}

.button {
  background: #ffffff;
  padding: 4px 20px;
  color: #000000;
  transition: .2s;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: #ffffff2a 0 4px 16px;
  background: #ffffff;
  color: #000000;
}

.buttonSecondary {
  border: #ffffffbe 1px solid;
  background: none;
  color: #ffffff;
}

.explore {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.explore .icon {
  width: 100%;
  color: #ffffff;
  user-select: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.explore {
  animation: fade-in 3s ease-in-out;
}

#features {
  padding-top: 128px;
  padding-bottom: 128px;
  background: url(~/assets/backgrounds/waves.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.features {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
}

.featureCards {
  display: grid; 
  grid-template-columns: auto auto auto; 
  grid-template-rows: auto auto;
  gap: 16px 16px; 
  align-items: center;
  width: 100%;
  grid-auto-flow: column;
}

.featureCard {
  width: 100%;
  height: 300px;
  padding: 32px;
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  user-select: none;
  transition: .4s;
}

.featureCard:hover .featureCardTitle {
  color: #841ee0;
}

.featureCardContext {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.featureIcon .icon {
  width: 24px;
  filter: invert(1);
  opacity: .6;
}

.featureIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featureCardTitle {
  transition: .2s;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffffbe;
}

.featureCardDescription {
  font-size: .9rem;
  font-weight: 200;
  color: #ffffff80;
  display: flex;
  height: 64px;
  flex-direction: column;
  justify-content: flex-end;
}

.featuresInfo {
  padding: 32px;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featuresTitle {
  font-size: 3em;
  font-weight: 700;
  color: #841ee0;
  user-select: none;
  text-transform: uppercase;
  width: 0;
}

.featuresDescription {
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff80;
  line-height: 1.5rem;
  width: 100%;
}

.tag {
  background: #00000080;
  color: #ffffff;
  padding: 2px 12px;
  font-size: .9rem;
  font-weight: 300;
  user-select: none;
}
